
    <section class="blog-area">
        <div class="container-fluid">

            <div class="row">              

                <div class="col-12">
                    <div class="cv-download">
                        <div class="row align-items-center">
                            
                            <div class="col-lg-6 col-md-12">
                                <p class="topnote">Fill all required fields and click create cv to download CV in both PDF and PNG formats</p>
                                
                            </div>
                            <div class="col-lg-6 col-md-12 mt-s">
                                <a href="#" class="btn btn-primary">Download as PDF</a>
                                <a href="#" class="btn btn-soft-primary ms-2">Download as PNG</a>
                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <form method="POST" action="/cover-letter/new">
                            <div class="mt-150x">
                                <h2>Personal Info</h2>
                                <div class="block-container">
                                    <div class="mt-30">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Full Name:</label>
                                                <input type="text" name="fullName" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Email:</label>
                                                <input type="text" name="email" class="form-control">
                                            </div>   
                                            <div class="col-lg-6">
                                                <label>Linked In:</label>
                                                <input type="text" name="linkedIn" class="form-control">
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                <label>Phone No:</label>
                                                <input type="text" name="phoneNo" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-150x">
                                <h2>Hiring Company</h2>
                                <div class="block-container">
                                    <div class="mt-30">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Manager's Name:</label>
                                                <input type="text" name="managerName" class="form-control">
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                <label>Company Address:</label>
                                                <input type="text" name="companyAddress" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Company Phone:</label>
                                                <input type="text" name="companyPhone" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Company Email:</label>
                                                <input type="text" name="companyEmail" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-150x">
                                <h2>Main Content</h2>
                                <div class="block-container">
                                    <div class="mt-30">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Salutation:</label>
                                                <input type="text" name="salutation" class="form-control" placeholder="e.g. Dear Sir/Madam">
                                            </div>
                                            
                                            <div class="col-lg-12">
                                                <label>First Paragraph:</label>
                                                <textarea type="text" name="firstParagraph" rows="5" class="form-control" placeholder="Self-introduction "></textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <label>Second Paragraph:</label>
                                                <textarea type="text" name="secondParagraph" rows="5" class="form-control" placeholder="Job description"></textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <label>Third Paragraph:</label>
                                                <textarea type="text" name="thirdParagraph" rows="5" class="form-control" placeholder="Company information "></textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <label>Final Paragraph:</label>
                                                <textarea type="text" name="finalParagraph" rows="5" class="form-control" placeholder="Waiting for interview to be scheduled"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr class="mt-100">
                            <input type="submit" name="submit" value="Build Cover Letter" class="btn-sub">
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    