<nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="/public/img/core-img/logo.png" alt="logo"> Resume Builder</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/resume/new">Create Resume</a></li>
                                <li><a href="#" title="Coming Soon">Cover Letter</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>

                            <!-- Button -->
                            {{#if user}}
                            <a href="/logout" class="btn login-btn mr-im">Log Out</a>
                            {{else}}
                            <a href="/login" class="btn login-btn mr-im">Log in</a>
                            <a href="/users/register" class="btn login-btn">Signup </a>
                            {{/if}}
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>